body{
    margin: 0;
    background: darkgray;
    overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}
#verticalButtons{
    display: flex;
    flex-direction: column;
}
button{
    border: none;
    border-radius: 5px;
    padding: 5px 5px 7px 5px;
    margin: 2px;
    cursor: pointer;
}
button:hover{
    background-color: blue;
}
#carCanvas{
    background: lightgray;
}

#networkCanvas{
    background:black;
}
.car-counter {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    margin: 20px;
    margin-bottom: 600px;
    margin-left: -300px;
}

.car-counter span {
    font-weight: bold;
    font-size: 24px;
    margin-right: 5px;
}
.controls-display {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size:20px;
    padding: 20px;
    margin: 20px;
    margin-bottom: 300px;
    margin-left: -300px;
    margin-right: 50px;
}

.controls-display span {
    font-weight: bold;
    font-size: 20px;
    margin-right: 5px;
}